
body{
    width: 6000px;
    height: 3000px;
}
.home {
    background-color: lightgray;
    width: 500px;
    min-height: 1500px;
    min-width: 1500px;
    justify-content: space-between;
    display: flex;
    position:relative;

    /*for scroll demonstration*/
    margin: 500px;
}
.column_wrapper{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}


.trigger{
    margin: 25px;
    background-color: gray;
    width: 40px;
    height: 40px;
}

.click_catcher{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0);
    z-index: 1;
}

.trigger {
    position:absolute;
    border:2px solid;
    margin:0;
    z-index: 2;
}
.trigger:nth-child(1) {
    top:25px;
    left:25px;
}
.trigger:nth-child(2) {
    top:25px;
    right:25px;
}
.trigger:nth-child(3) {
    bottom:25px;
    left:25px;
}
.trigger:nth-child(4) {
    bottom:25px;
    right:25px;
}

.dropdown_wrapper{
    width: 260px;
    position: relative;
    background-color: #f0f0f0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}
.dropdown_wrapper > .dropdown_unit{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.dropdown_unit .text{
    flex-basis: 80%;
    margin: auto;
    cursor: pointer;

}

.dropdown_unit .img{
    flex-basis: 20%;
}

.left{
    margin-left: -220px;
}
.top{
    margin-top: -225px;
}
.right{
    margin-left: 0px;
}
.bottom{
    margin-top:43px
}
